
%div#prelude
  %h3 Welcome! If your machine has just broken down, you're in a good place. We are here for you 24hrs/day. Speed, low prices and effects - this is what you should expect ;-)

%div#image
  =image_tag "TechSupportCat.jpg"


