
%div#prelude
  %h3 Witaj! Jeśli Twój sprzęt właśnie się zepsuł, to jesteś w dobrym miejscu. Przyjmujemy zgłoszenia 24h/dobę. Szybkość, niskie ceny i efekty - oto czego możesz się spodziewać :-)

%div#image
  =image_tag "TechSupportCat.jpg"


